<?xml version="1.0" encoding="UTF-8"?>
<beans>
<bean id="userDao" class="bean.UserDaoForTest6" init-method="initDataMethod" destroy-method="destroy"/>
<bean id="userService" class="bean.UserServiceForTest6">
<property name="uId" value="10001"/>
<property name="company" value="tecent"/>
<property name="location" value="vancouver"/>
<property name="userDao" ref="userDao"/>
</bean>
</beans>
