<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userService" class="bean.UserServiceForTest8" scope="prototype">
        <property name="uId" value="10001"/>
        <property name="company" value="tecent"/>
        <property name="location" value="vancouver"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>
    <bean id="proxyUserDao" class="bean.ProxyBeanFactoryForTest8"/>
</beans>